.book-now {
  background-color: get-color(background, light);

  section:first-of-type {
    margin-top: 2.5em;
  }

  &__back-link {
    color: white;
    float: left;
    margin: 1em;
  }

  &__banner {
    margin: 2em 0;
  }

  &__button {
    @extend .btn, .btn--secondary;
    cursor: pointer;
    padding-top: .6em;
  }

  .application {
    background-color: $color-white;
    padding: .5em 0 1em;
  }
}
