.welcome {
  &__logo {
    text-align: center;
    margin-top: 20vh;
    width: 100%;

    @media (min-height: 650px) {
      margin-top: 20vh;
    }

    @media (max-height: 550px) {
      float: left;
      margin-top: 75px;
      width: 50%;
    }

    .text {
      color: #eee;
      margin: 0 auto;
    }
  }

  &__logo-image {
    width: 200px;
  }

  &__logo-text {
    color: white;
  }

  &__tag-line {
    color: #eee;
    position: absolute;
    left: 5vw;
    right: 5vw;
    bottom: 20px;
    text-align: justify;
    text-indent: 3em;

    @media (max-height: 550px) {
      left: 50vw;
      bottom: auto;
      top: 90px;
    }
  }

  &__links {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    white-space: nowrap;
    dislay: block;
  }
}

