.opening-soon {
  background-color: get-color(background, light);

  &__banner {
    margin: 2em 0;
  }

  &__button {
    @extend .btn, .btn--secondary;
    cursor: pointer;
    padding-top: .6em;
  }

  #toggle-application,
  #application {
    display: none;
  }

  #toggle-application:checked + #application {
    display: block;
  }

  #application {
    background-color: $color-white;
    margin-top: 2em;
    padding-top: 1em;
  }
}
